---
layout: main.liquid
---
<script src="https://pixijs.download/release/pixi.min.js"></script>
<main>
  <div id="preamble" class="background-wrapper full-height">
    {% include 'navbar' %}
    <div class="hero-container">
      <h1 class="hero-txt-mobile-top hero-txt yeseva-one">
        Ben and Rachel
      </h1>
      <div class="hero-img-container">
        <img class="hero-img" src="/assets/hero.png">
        <img class="hero-img-mobile" src="/assets/hero-mobile.JPG">
      </div>
      <h1 class="hero-txt-mobile-bottom hero-txt yeseva-one">
        are having a wedding!
      </h1>
      <div class="hero-txt-container">
        <h1 class="hero-txt-main hero-txt yeseva-one">
          Ben and Rachel are having a wedding!
        </h1>
      </div>
    </div>
    <div class="signpost-container">
      <h2 class="signpost national-park-semibold">
        ORIENTATION THIS WAY
      </h2>
      <h2 class="down-arrow national-park-semibold">
         &darr;
      </h2>
    </div>
  </div>
  <div id="transition-id" class="transition">
  </div>
  <div id="stage">
  </div>
  <div class="scroll-buffer">
  </div>
</main>
{% if eleventy.env.runMode == "serve" %}
<script type="module" src="http://localhost:5173/src/assets.js"></script>
<script type="module" src="http://localhost:5173/src/script.js"></script>
{% else %}
<script type="module" src="/assets/bundle.js"></script>
{% endif %}
