.itinerary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}


.itinerary-card-photo-container {
  position: relative;
  width: 50%;
  max-width: 650px;
  margin: 40px 0 40px 0;
}

.itinerary-card {
  /* Forces any absolute positioning to use this card */
  z-index: 1;
  position: relative;
  color: black;
  padding: 40px;
  border-radius: 15px;
  background-color: #FFF4A4;
  box-shadow: var(--shadow-elevation-medium);
}

/* Bottom left */
.left-clip-container {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.8));
}
.left-clip {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FFF4A4;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0% 100%);
}
.right-clip-container {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.8));
}
.right-clip {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FFF4A4;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%);
}

.pictures-container {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pictures-container img {
  z-index: 0;
  position: absolute;
  border: 4px solid var(--text-offwhite-color); 
  border-radius: 2px;
}

.yosemite {
  top: 0;
  left: 0;
  width: 250px;
  transform: translate(-200px, 10px) rotate(-25deg);
}
.rocker {
  top: 0;
  left: 0;
  width: 400px;
  transform: translate(-260px, 373px) rotate(3deg);
}
.mattress {
  top: 0;
  right: 0;
  width: 300px;
  transform: translate(280px, 250px) rotate(-3deg);
}
.paris {
  top: 0;
  left: 0;
  width: 400px;
  transform: translate(-280px, 333px) rotate(3deg);
}
.whoa {
  top: 0;
  left: 0;
  width: 400px;
  transform: translate(-380px, 333px) rotate(3deg);
}
.waterfall {
  top: 0;
  right: 0;
  width: 300px;
  transform: translate(300px, 250px) rotate(3deg);
}


.itinerary-1 {
  transform: rotate(2deg);
}

/* Pictures under each card */


.itinerary-2 {
  transform: rotate(-1deg);
}

.clipped {
  -webkit-clip-path: polygon(0 0, 0 calc(100% - 50px), 50px 100%, 50px 110%, 110% 110%, 110% 50px, 100% 50px, calc(100% - 50px) 0);
}

.pushpin {
  position: absolute;
  top: .2%;
  left: 46%;
  width: 8%;
}

.itinerary-3 {
}

.note-heading {
  background-color: var(--text-offwhite-color);
  background-color: white;
  border-top: 3px solid;
  border-top-color: var(--accent-color);
  padding: 10px;
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-elevation-low);
  /* background-image: linear-gradient(90deg, transparent 5px, #3f3f3f4f 5px, #3f3f3f4f 7px, transparent 7px), */
  /* linear-gradient(#3f3f3f4f .1em, transparent .1em); */
  /* background-size: 100% 1.2em; */
}


.note-body {
  padding: 10px;
  background-image: linear-gradient(90deg, transparent 5px, #3f3f3f26 5px, #3f3f3f26 7px, transparent 7px),
  linear-gradient(#3f3f3f26 .1em, transparent .1em);
  background-size: 100% 1.1em;
}

@media only screen and (max-width: 1000px) {
  .itinerary-card-photo-container {
    width: 70%;
  }
}

@media only screen and (max-width: 430px) {
  .itinerary-card-photo-container {
    width: 90%;
  }

}
