body {
  margin: 0;
  color: #F1F0E9;
}

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.14),
    0.4px 0.8px 0.9px -1.5px hsl(var(--shadow-color) / 0.13),
    1.1px 2.1px 2.5px -3px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-medium:
    0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.15),
    0.8px 1.6px 1.9px -1px hsl(var(--shadow-color) / 0.14),
    2.1px 4.2px 4.9px -2px hsl(var(--shadow-color) / 0.12),
    5.4px 10.7px 12.6px -3px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-high:
    0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.12),
    1.2px 2.5px 2.9px -0.4px hsl(var(--shadow-color) / 0.12),
    2.3px 4.6px 5.4px -0.7px hsl(var(--shadow-color) / 0.11),
    3.7px 7.5px 8.8px -1.1px hsl(var(--shadow-color) / 0.11),
    5.9px 11.8px 13.9px -1.5px hsl(var(--shadow-color) / 0.1),
    9.1px 18.3px 21.5px -1.9px hsl(var(--shadow-color) / 0.1),
    13.8px 27.5px 32.3px -2.2px hsl(var(--shadow-color) / 0.1),
    20.1px 40.2px 47.2px -2.6px hsl(var(--shadow-color) / 0.09),
    28.5px 57px 66.9px -3px hsl(var(--shadow-color) / 0.09);
  --text-offwhite-color: #F1F0E9;
  --accent-color: #E9762B;
  --main-green: #287e34;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


.national-park {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.national-park-bold {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.national-park-semibold {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.yeseva-one {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.quattrocento-sans-regular {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-sans-bold {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quattrocento-sans-regular-italic {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quattrocento-sans-bold-italic {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.navbar {
  /*font-family: 'Helvetica Neue';*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  padding: 20px 10vw 0 10vw;
  /* color: #E9762B; */
}

.mobile-navbar-segment {
  display: flex;
  flex-direction: row;
  flex-basis: 25vw;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: underline;
  font-size: 24px;
  color: #F1F0E9;
  text-align: center;
  text-decoration-color: #E9762B;
}

/* Should be the same size as image */
.nav-icon {
  width: 65px;
  filter: invert(100);
  /* To address chrome rendering bug for small SVGs */
  opacity: 0.99;
}

.hero-container {
  margin-top: 5%;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}


.hero-img {
  max-width: 400px;
  height: auto;
  border-radius: 185px;
  margin-right: 25px;
  box-shadow: var(--shadow-elevation-medium);
  border: 10px solid #F1F0E9;
}

.hero-img-mobile {
  display: none;
}

.hero-txt-container {
  max-width: 700px;
}

.hero-txt {
  font-size: 90px;
}


.hero-txt-main {
  text-shadow: 1px 2px #E9762B;
}

.hero-txt-mobile-top {
  display: none;
}

.hero-txt-mobile-bottom {
  display: none;
}

.full-height {
  min-height: 100vh;
}

.background-wrapper {
  /* background-color: #0D4715; */
  background-color: #287e34;
  background-image: url("/assets/noise-light.png");
  box-shadow: var(--shadow-elevation-medium);
}

/* Idea, this could maybe be like a projector screen that pulls up. */
.signpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translate(0, 40%);
  margin-bottom: 50px;

}
.signpost {
  margin-bottom: 15px;
}

.transition {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
          hsl(209deg 93% 74%) 0%,
              hsl(221deg 97% 78%) 31%,
                  hsl(244deg 88% 81%) 59%,
                      hsl(260deg 81% 83%) 75%,
                          hsl(262deg 83% 91%) 88%,
                              hsl(0deg 0% 100%) 100%
                                );
}

.down-arrow {
  margin: 0;
  color: black;
  font-size: 32px;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 20px 5vw 0 5vw;
  }
  .mobile-navbar-segment {
    flex-basis: 40vw;
    justify-content: space-around;
  }

  .hero-txt {
    width: 48vw;
  }
}

@media only screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-txt-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero-txt-main {
    display: none;
  }
  .hero-container {
    align-items: center;
  }
  .hero-txt-mobile-top {
    text-align: center;
    display: flow;
    width: 100%;
    /* margin: 0 0 -40px 0; */
    margin: 0;
    transform: translate(0, 25%);
    z-index: 1;
    text-shadow: 1px 2px #E9762B;
  }
  .hero-txt-mobile-bottom {
    text-align: center;
    display: flow;
    width: 100%;
    /* margin: -60px 0 0 0; */
    margin: 0;
    transform: translate(0, -25%);
    z-index: 1;
    text-shadow: 1px 2px #E9762B;
  }

  .hero-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-img-mobile {
    display: flow;
    width: 80%;
    border: 10px solid #F1F0E9;
    border-radius: 5px;
    transform: rotate(-2deg);
    box-shadow: var(--shadow-elevation-medium);
  }
  .hero-img {
    display: none;
  }
}

#stage {
  position: sticky;
  top: 0px;
  min-width: 100vw;
  height: 100vh;
  pointer-events: none
  /* aspect-ratio: 16 / 9; */
}

.scroll-buffer {
  height: 9000px;
}

@media only screen and (max-width: 702px) {
  .hero-txt {
    font-size: 56px;
  }
}

@media only screen and (max-width: 615px) {
  .navbar {
    padding: 20px 5vw 0 5vw;
  }
  .mobile-navbar-segment {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (max-width: 425px) {
  .hero-txt {
    font-size: 48px;
  }

  .navbar a {
    font-size: 18px;
  }

  .transition {
    position: sticky;
    top: -80vh;
  }
  #stage {
    position: sticky;
    top: 20vh;
    min-width: 100vw;
    height: 80vh;
  }

}
@media only screen and (max-width: 320px) {
  .hero-txt {
    font-size: 40px;
  }
}

.dark a {
  color: black;
}
