:root {
  --border-width: 12px; 
  --pink-color: #F9C0D4;
  --blue-color: #AEEBEC;
  --postcard-bg: #FEFBF5;
  /* Calculated values for the gradient pattern */
  --pattern-segment-length: var(--border-width); /* Each color segment forms a square of this side length before angling */
  --pattern-total-length: calc(var(--pattern-segment-length) * 2); /* Total length of one pink + one blue segment along the gradient vector */
  --gradient-tile-size: calc(var(--pattern-total-length) / 1.41421356237); /* Size of the repeating square tile for the gradient: (2 * W) / sqrt(2) = W * sqrt(2) */
  --text-offwhite-color: #F1F0E9;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.postcard-title {
  letter-spacing: 3px;
  color: var(--pink-color);
}

.postcard-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.post-card-body-text{
  padding: 15px;
  width: 70%;
  border-right: 1.5px dashed #E0CFC2; /* Decorative separator line */
}

.post-card-body-address{
  height: 100%;
  padding: 15px;
  width: 30%;
}

.travel-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 50px;
  overflow: hidden;
}

.map {
  border: 2px solid white;
  border-radius: 10px;
  transform: rotate(-5deg);
  width: 100%;
  box-shadow: var(--shadow-elevation-medium);
}

.photo {
  border: 2px solid white;
  border-radius: 10px;
  transform: rotate(2deg);
  transform: translate(-40px);
  width: 80%;
  box-shadow: var(--shadow-elevation-medium);
}

.map-photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 30%;
  max-width: 900px;

}

.travel-flex-item {
  flex: 1 1 40%;
  box-sizing: border-box;
}

.postcard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  background-color: var(--postcard-bg);
  background-image: url("/assets/pulp_texture_light.png");
  padding: 20px;
  border: 10px solid transparent;
  border-image: 16 repeating-linear-gradient(45deg, var(--pink-color) 0, var(--pink-color) 1em, transparent 0, transparent 2em, var(--blue-color) 0, var(--blue-color) 3em, transparent 0, transparent 4em);
  min-width: 475px;
  max-width: 800px;
}


@media only screen and (max-width: 550px) {
  .postcard {
    min-width: calc(100% - 5px);
  }
  .travel-container {
    padding: 5px;
  }
}
