<div class="navbar national-park-semibold {{ color }}">
  <div class="mobile-navbar-segment">
    <a href="/itinerary">ITINERARY</a>
    <a href="/travel">TRAVEL</a>
  </div>
  <a href="/"><img class="nav-icon" src="/assets/forest.png"></a>
  <div class="mobile-navbar-segment">
    <a href="/lodging">LODGING</a>
    <a href="/packing">PACKING LIST</a>
  </div>
</div>
